.Progress{
    height: 3px;
    background-color:   #2a6592	;  
    transition: all 0.5s ease-in-out ;
}
.image{
    max-width: 100%;
}
.grid-image{
    padding: 10px;
    margin: 15px;
}
.grid-image img{
    cursor: pointer;
}
.logo{
    display: flex;
    margin: 20px 0;
}
.logo p{
    font-family: cursive;
    text-transform: capitalize;
    font-size: xx-large;
    color: #2a6592	;
    text-shadow:6px 3px 10px #2a6592;

}
.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12px 0;
}
.heading h1 ,p{
    font-family: cursive;
    text-transform: capitalize;
    text-align: center;
    color: #2a6592	;
    font-weight: 600;
}
.heading p{
    font-weight: 500 !important;
}
label{
    position: relative;
    margin: 11px 0;
    display: flex;
    justify-content: center;
    align-items: center;


}
.main{
    margin-bottom:  60px;
}
.main svg{
    position: absolute;
    top: -2px;
    left: 47%;
    font-size: 38px;
    color: #2a6592	;  
    cursor: pointer;
}
label input{
    visibility: hidden;
}
.progressbar{
    display: flex;
}
.image-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-modal img{
    max-width: 100%;
  padding: 20%;
}
.onCickClose{
    position: absolute;
    top: 4%;
    right: 3%;
    z-index: 9999;
}
.onCickClose svg{
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}
@media only screen and (max-width: 900px) {
    
    .image-modal img{
      padding: 10%  7%;
    }
}
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    padding: 30px 0;
}
.pagination li button{
    border: 1px solid #2a6592;
    padding: 10px 15px;
    text-decoration: none;
    margin: 1px;
    color:#2a6592 ;
    background: none;

}